html, body {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
}

.container {
  position: relative;
  width: 1920px;
  height: auto;
  display: flex;
}

.navbar_frame {
  padding: 0 100px 0 0;
  margin-top: 20px;
  height: 112px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 32px 64px -32px rgba(8, 39, 57, 0.249);
  background: rgb(255, 255, 255);
}
.navbar_frame .nav_left {
  display: flex;
}
.navbar_frame .nav_left .blue_color {
  margin-right: 16px;
  width: 48px;
  height: 48px;
  background: rgb(48, 131, 255);
}
.navbar_frame .nav_left span {
  color: rgb(39, 45, 49);
  font-family: DINPro;
  font-size: 32px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0%;
}
.navbar_frame .nav_right {
  width: 786px;
  height: 48px;
  display: flex;
  justify-content: space-between;
}
.navbar_frame .nav_right span {
  color: rgb(39, 45, 49);
  font-family: Poppins;
  font-size: 26px;
  font-weight: 500;
  line-height: 40px;
  letter-spacing: 0%;
}
.navbar_frame .nav_right .line_nav {
  width: 0;
  height: auto;
  border: 1px solid rgba(39, 45, 49, 0.3);
}

footer {
  width: 100%;
  height: auto;
}
footer .container {
  margin: 0 auto;
  height: 700px;
  flex-direction: column;
  align-items: center;
  background: rgb(39, 45, 49);
}
footer .container .footer_top {
  margin-top: 80px;
  width: 1720px;
  height: 428px;
  display: flex;
  justify-content: space-between;
}
footer .container .footer_top .footer_info_box {
  width: 288px;
  height: 202px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer .container .footer_top .footer_info_box .info_top {
  width: 100%;
  height: auto;
  display: flex;
}
footer .container .footer_top .footer_info_box .info_top .blue_color {
  width: 48px;
  height: 48px;
  background: rgb(48, 131, 255);
}
footer .container .footer_top .footer_info_box .info_top span {
  margin-left: 16px;
  color: rgb(255, 255, 255);
  font-family: DINPro;
  font-size: 32px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0%;
}
footer .container .footer_top .footer_info_box p {
  margin-top: 32px;
  color: rgba(255, 255, 255, 0.7);
  font-family: Poppins;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0%;
}
footer .container .footer_top .footer_info_box .info_number {
  margin-top: 32px;
  width: 100%;
}
footer .container .footer_top .footer_info_box .info_number i {
  width: 30px;
  height: 30px;
}
footer .container .footer_top .footer_info_box .info_number span {
  color: rgb(255, 255, 255);
  font-family: Poppins;
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: 0%;
}
footer .container .footer_top .same_box3 {
  width: 260px;
  height: 366px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
footer .container .footer_top .same_box3 strong {
  margin-bottom: 48px;
  color: rgb(255, 255, 255);
  font-family: Poppins;
  font-size: 26px;
  font-weight: 500;
  line-height: 40px;
  letter-spacing: 0%;
}
footer .container .footer_top .same_box3 p {
  color: rgba(255, 255, 255, 0.7);
  font-family: Poppins;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0%;
}
footer .container .footer_top .last_box {
  width: 288px;
  height: 136px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
footer .container .footer_top .last_box span {
  color: rgb(255, 255, 255);
  font-family: Poppins;
  font-size: 26px;
  font-weight: 500;
  line-height: 40px;
  letter-spacing: 0%;
}
footer .container .footer_top .last_box .social_box {
  width: 100%;
  height: 48px;
  display: flex;
  justify-content: space-between;
}
footer .container .footer_top .last_box .social_box i {
  width: 48px;
  height: 48px;
  font-size: 28px;
  color: rgba(255, 255, 255, 0.614);
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 41px;
}
footer .container .footer_line {
  margin: 80px 0 40px;
  width: 100%;
  border: 1px solid rgba(255, 255, 255, 0.3);
}
footer .container .footer_bott {
  width: 479px;
  height: 30px;
}
footer .container .footer_bott span {
  color: rgba(255, 255, 255, 0.7);
  font-family: Poppins;
  font-size: 19px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0%;
}

/*# sourceMappingURL=general.css.map */
