//  order style started




// order frame


.order_frame{
    width: 100%;
    height: auto;

    .container{
        height: 2044px;
        background: rgb(229, 229, 229);
        margin: 0 auto;

        .order_left{
            padding: 100px;
            width: 500px;
            height: auto;

            box-sizing: border-box;
            background: rgba(255, 255, 255, 0.677);

            .left_wrapper{
                width: 300px;
                height: 1155px;

                display: flex;
                flex-direction: column;
                justify-content: space-between;

                .order_type{
                    width: 265px;
                    height: 472px;


                    form{
                        width: 100%;
                        height: 100%;

                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;

                        strong{
                            color: rgb(39, 45, 49);
                            font-family: Poppins;
                            font-size: 26px;
                            font-weight: 700;
                            line-height: 40px;
                            letter-spacing: 0%;

                        }

                        .order_input_box{
                            width: 311PX;
                            height: 40px;

                            display: flex;
                            align-items: center;
                            // justify-content: space-between;

                            input{
                                width: 32px;
                                height: 32px;
                                box-sizing: border-box;
                                border: 2.5px solid rgba(39, 45, 49, 0.5);
                                border-radius: 5.45px;

                            }

                            label{
                                margin-left: 10px;
                                // margin-right: 50px;
                                font-family: Poppins;
                                font-size: 26px;
                                font-weight: 500;
                                line-height: 40px;
                                letter-spacing: 0px;

                                span{
                                margin-left: 20px;

                                    color: rgba(39, 45, 49, 0.5);
                                }

                            }
                            



                        }


                    }


                }


                .order_price{
                    width: 300px;
                    height: 155px;

                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;

                    strong{
                        color: rgb(39, 45, 49);
                        font-family: Poppins;
                        font-size: 26px;
                        font-weight: 700;
                        line-height: 40px;
                        letter-spacing: 0%;
                    }

                    input{
                        width: 100%;
                        height: 26px;
                        border-radius: 16px;

                        background: rgba(48, 131, 255, 0.5);
                    }

                    span{
                        color: rgba(39, 45, 49, 0.5);
                        font-family: Poppins;
                        font-size: 26px;
                        font-weight: 500;
                        line-height: 40px;
                        letter-spacing: 0px;

                    }
                    


                }







            }




        }


        .order_right{
            margin-top: 100px;
            margin-left: 40px;
            width: 1280px;
            height: auto;

            display: flex;
            flex-direction: column;

            .order_top_wrapper{
                position: relative;
                width: 100%;
                height: 174px;

                display: flex;
                justify-content: space-between;

                .pick_up_box{
                    padding: 32px;
                    width: 622px;
                    height: 100%;

                    box-sizing: border-box;
                    border-radius: 32px;
                    box-shadow: 0px 32px 64px -32px rgba(6, 30, 45, 0.1);
                    background: rgb(255, 255, 255);

                    .pickup_title{
                        margin-left: 24px;
                        width: 124px;
                        height: auto;

                        display: flex;
                        justify-content: space-between;
                        align-items: center;



                        .mark_box{
                            width: 20px;
                            height: 20px;
                            
                            border-radius: 50%;
                            border: 5px solid rgba(48, 131, 255, 0.579);
                            background: rgba(48, 131, 255, 0.274);

                            display: flex;
                            justify-content: center;
                            align-items: center;

                            .little_mark_box{
                                width: 10px;
                                height: 10px;

                                border-radius: 50%;
                                background: rgb(48, 131, 255);
                            }
                            



                        }

                        span{
                            margin-left: 8px;
                            color: rgb(39, 45, 49);
                            font-family: Poppins;
                            font-size: 16px;
                            font-weight: 700;
                            line-height: 24px;
                            letter-spacing: 0%;

                        }




                    }


                    .locTime_wrapper{

                        margin-top: 32px;
                        width: 600px;
                        height: 54px;

                        display: flex;
                        justify-content: space-between;


                        .locTime_box{
                            
                            width: 187px;
                            height: 54px;
                            padding: 0 24px;

                            display: flex;
                            flex-direction: column;

                            border-right: 2px solid rgba(39, 45, 49, 0.246);

                            strong{
                                margin-bottom: 8px;
                                color: rgb(39, 45, 49);
                                font-family: Poppins;
                                font-size: 16px;
                                font-weight: 700;
                                line-height: 24px;
                                letter-spacing: 0%;

                            }

                            .select_box{
                                width: 100%;
                                display: flex;
                                justify-content: space-between;
                                span{
                                    color: rgba(39, 45, 49, 0.5);
                                    font-family: Poppins;
                                    font-size: 14px;
                                    font-weight: 400;
                                    line-height: 22px;
                                    letter-spacing: 0%;
    

                            }


                            select{
                                width: 22px;
                                height: 22px;
                                border: none;
                                margin-left: 8px;
                            }


                            


                            }








                        }
                        


                    }


                }



                .middle_pick_image{
                    width: 60px;
                    height: 60px;

                    display: flex;
                    align-items: center;
                    justify-content: center;
                    z-index: 99;

                    position: absolute;
                    right: 608px;
                    bottom: 43px;

                   
                }




            }



            .products_frame{
                margin-top: 40px;

                .products_wrapper{
                    width: 1280px;
                    height: 1630px;

                    display: flex;
                    flex-direction: column;

                    .products_main{
                        width: 100%;
                        height: auto;

                        display: flex;
                        flex-wrap:wrap;
                        justify-content: space-between;

                        .cars_box{
                            margin-bottom: 40px;
                            // margin-right: 26px;
                        }

                    }


                    .show_box{
                        margin-top: 60px;
                        width: 100%;
                        
                        display: flex;
                        justify-content: center;
                        align-items: center;

                      


                    }








                }



            }








        }



    }


}